/******
    GENERAL
 ******/
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    padding-top: 20px;
}

/******
    HEADER
 ******/

/******
    BODY
 ******/

/******
    FOOTER
 ******/
footer {
    text-align: center;
    font-size: 12px;
}

footer hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

footer hr:after {
    /*Image reference: https://www.rmit.edu.au/about/our-brand*/
    content: url('../images/rmitlogo.jpg');
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

footer p {
    padding: 10px;
}